body {
  padding: 10px;
}
.anagrams {
  padding: 10px;
  color:#471b4f;
  background-color:#e9d3e0;
}
.anagram {
  padding: 5px;
  font-family: monospace;
  font-size: 20px;
  color: #2a0501;
  background-color: #befca2;
  border: 3px solid #2a0501;
}
.word {
  padding: 5px;
  margin: 5px;
  background-color: #fbd4f6;
  color: #654b43;
  border: 3px solid #654b43;
}

/* h/t codepo8 https://codepo8.github.io/css-fork-on-github-ribbon/ */
#forkongitlab a {
    background: #000;
    color: #fff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#forkongitlab a:hover {
    background: #c11;
    color: #fff;
}

#forkongitlab a::before,
#forkongitlab a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongitlab a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width:800px) {
    #forkongitlab {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }
    #forkongitlab a {
        width: 200px;
        position: absolute;
        top: 60px;
        right: -60px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}
